version: "3.9"

services:
  backend:
    build:
      context: ./detector-backend
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./detector-frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    depends_on:
      - backend
    restart: always
    ports:
      - "80:80"
